{% extends "baselib.html" %}

{% block title %}
Enquiries
{% endblock %}

{% block content %}
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for username, info in users.items() %}
        <tr>
            <td>{{ username }}</td>
            <td>{{ info.email }}</td>
            <td>{{ info.password }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}
